body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: #2c3881;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

h3 {
    font-size: 22px;
    line-height: 1.58;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 700;
    color: #367cff;
}

h4 {
    opacity: 0.88;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
}

h6 {
    color: #367cff;
    font-size: 18px;
    font-weight: 700;
}

.bg-dark {
    background-color: #2c3881 !important;
    height: 72px;
}

.card {
    width: 264px;
    height: 193px;
    border-radius: 16px;
    background-color: white;
    border: none;
}

.add-bg {
    background-color: rgb(44, 56, 129, 0.04);
    width: 100%;
}

.add-bg-2 {
    background-color: #2c3881;
    width: 100%;
}

.card-body {
    padding: 24px;
}

.card-image {
    width: 264px;
    height: 193px;
    border-radius: 16px;
    background-color: white;
    border: none;
    object-fit: contain
}

.remove-padding {
    padding: 0px !important;
}

.blog-title {
    opacity: 0.88;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: medium;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #2c3881;
    margin: 16px 0px 12px;
}

.blog-title:hover {
    color: #367cff;
    text-decoration: underline;
}

.btn-primary {
    width: 166px;
    height: 59px;
    opacity: 0.9;
    border-radius: 32px;
    background-color: #367cff;
    transition: 0.4s;
}

.btn-primary:hover {
    opacity: 1;
    background-color: #ffffff;
    color: #367cff;
    border: solid 3px rgb(54, 124, 255, 0.25);
    box-shadow: 10px 10px rgb(54, 124, 255, 0.25) !important;
    transition: 0.4s;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.9rem 1rem;
}

hr {
    height: 1px;
    color: #123455;
    background-color: #123455;
    border: none;
    opacity: 0.1;
    margin-top: 12px;
    margin-bottom: 12px;
}

.fas {
    opacity: 0.5;
    font-size: 13px;
    margin-top: 5px;
}

.opacity-50 {
    opacity: 0.5;
}

.card:hover {
    border: 3px solid rgb(54, 124, 255, 0.5);
    box-shadow: 10px 10px rgb(54, 124, 255, 0.25);
    box-sizing: border-box;
    color: #367cff;
    margin: -3px;
}


/* SIBLING FADE: fade out siblings around a hovered item */

.sibling-fade {
    visibility: hidden;
}


/* Prevents :hover from triggering in the gaps between items */

.sibling-fade>* {
    visibility: visible;
}


/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade>* {
    transition: opacity 25ms linear 25ms, transform 25ms ease-in-out 25ms;
}


/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade:hover>* {
    opacity: 0.4;
    transform: scale(0.98);
}


/* Fade out all items when the parent is hovered */

.sibling-fade>*:hover {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0ms, 0ms;
    color: #367cff !important;
}


/* Fade in the currently hovered item */

.sibling-fade {
    display: flex;
    flex-wrap: wrap;
}

.sibling-fade>* {
    /* background: white; */
    flex: auto;
    text-decoration: none;
}


/**/

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    transition: transform 0.4s ease-in-out !important;
}

a:hover {
    color: #367cff !important;
    text-decoration: none;
    opacity: 1;
    transform: translate(4px) !important;
}


/* SIBLING FADE 2: fade out siblings around a hovered item */

.sibling-fade-2 {
    visibility: hidden;
}


/* Prevents :hover from triggering in the gaps between items */

.sibling-fade-2>* {
    visibility: visible;
}


/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade-2>* {
    transition: opacity 25ms linear 25ms, transform 25ms ease-in-out 25ms;
}


/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade-2:hover>* {
    opacity: 0.75;
    transform: scale(1);
}


/* Fade out all items when the parent is hovered */

.sibling-fade-2>*:hover {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0ms, 0ms;
    color: #367cff !important;
}


/* Fade in the currently hovered item */

.sibling-fade-2 {
    display: flex;
    flex-wrap: wrap;
}

.sibling-fade-2>* {
    /* background: white; */
    flex: auto;
    text-decoration: none;
}


/**/


/* SIBLING FADE 3: fade out siblings around a hovered item */

.sibling-fade-3 {
    visibility: hidden;
}


/* Prevents :hover from triggering in the gaps between items */

.sibling-fade-3>* {
    visibility: visible;
}


/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade-3>* {
    transition: opacity 25ms linear 25ms, transform 25ms ease-in-out 25ms;
}


/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade-3:hover>* {
    opacity: 0.5;
    transform: scale(1);
}


/* Fade out all items when the parent is hovered */

.sibling-fade-3>*:hover {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0ms, 0ms;
    color: #367cff !important;
}


/* Fade in the currently hovered item */

.sibling-fade-3 {
    display: flex;
    flex-wrap: wrap;
}

.sibling-fade-3>* {
    /* background: white; */
    flex: auto;
    text-decoration: none;
}

.nav-link:hover {
    color: white !important;
}

.logo-footer {
    margin: 60px 0px 60px;
}

.navbar-nav .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.footer-links {
    color: white;
    margin: 0px 0px 60px;
    opacity: .75;
}

.footer-items {
    color: white;
}

.footer-items:hover {
    color: white !important;
}


/* SIBLING FADE 4: fade out siblings around a hovered item */

.sibling-fade-4 {
    visibility: hidden;
}


/* Prevents :hover from triggering in the gaps between items */

.sibling-fade-4>* {
    visibility: visible;
}


/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade-4>* {
    transition: opacity 25ms linear 25ms, transform 25ms ease-in-out 25ms;
}


/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade-4:hover>* {
    opacity: 0.6;
    transform: scale(0.98);
}


/* Fade out all items when the parent is hovered */

.sibling-fade-4>*:hover {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0ms, 0ms;
    color: #367cff !important;
}


/* Fade in the currently hovered item */

.sibling-fade-4 {
    display: flex;
    flex-wrap: wrap;
}

.sibling-fade-4>* {
    /* background: white; */
    flex: auto;
    text-decoration: none;
}


/**/

.oasis-spacing {
    margin: 56px 0px 84px;
    max-width: 405px;
}

.fa-heart:hover {
    color: red;
    opacity: 1;
    transform: scale(1.1);
}

.fa-eye:hover {
    opacity: 1;
}

.opacity-full {
    opacity: 1 !important;
}

.move-right {
    transition: transform 0.6s ease-in-out;
}

.move-right:hover {
    transform: translate(12px);
}

.move-right-2 {
    transition: transform 0.6s ease-in-out;
}

.move-right-2:hover {
    transform: translate(4px);
}

.fa-long-arrow-alt-right {
    transition: transform 0.6s ease-in-out;
}

.fa-long-arrow-alt-right:hover {
    transform: translate(8px);
}

.divider {
    height: 1px;
    color: #ffffff;
    background-color: #ffffff;
    border: none;
    opacity: 0.25;
}

.copyright-text {
    color: #ffffff !important;
    opacity: .25;
}

.copyright-text:hover {
    opacity: .3;
    cursor: default;
}

.link-icon {
    color: #ffffff !important;
    opacity: .25;
}

.link-icon:hover {
    color: #ffffff !important;
    opacity: 1;
}

.fab {
    transition: transform 0.4s ease-in-out;
}

.fab:hover {
    transform: translateY(-4px);
}


/* Scrollbar Styling */

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    /* background-color: #babac0; */
    background-color: rgb(44, 56, 12, 0.16);
    /* border-radius: 16px;
    border: 2px solid #fff; */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(54, 124, 255, 0.8);
}

.research-group {
    padding-bottom: 60px;
}

.card-image-1 {
    width: 264px;
    height: 444px;
    border-radius: 16px;
    background-color: white;
    border: none;
    object-fit: contain
}

.group-title {
    font-size: 18px;
    color: #2c3881;
    font-weight: 700;
    margin-left: -10px;
    margin-top: -10px;
}

.group-title:hover {
    color: #367cff;
}

.group-pos {
    font-size: 14px;
    opacity: .75;
    margin-left: -10px;
    margin-top: 8px;
}

.group-desc {
    font-size: 12px;
    opacity: .6;
    margin-left: -10px;
    margin-top: 8px;
    line-height: 1.5;
    height: 54px;
}

.group-cta {
    font-size: 12px;
    margin-left: -10px;
    margin-top: 8px;
    color: #367cff;
    font-weight: 700;
    margin-top: 14px;
    margin-bottom: 16px;
}

.fa-sm {
    font-size: 10px;
}

.margin-right {
    margin-right: 16px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}

.shadow-cta {
    transition: transform 0.6s ease-in-out;
}

.shadow-cta:hover {
    -webkit-box-shadow: 16px 24px 80px 0px rgba(54, 124, 255, 0.16);
    -moz-box-shadow: 16px 24px 80px 0px rgba(54, 124, 255, 0.16);
    box-shadow: 16px 24px 80px 0px rgba(54, 124, 255, 0.16);
}


/* title styles */

.home-title span {
    position: absolute;
    overflow: hidden;
    /* display: block; */
}

.home-title span::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #367cff;
    animation: a-ltr-after 2s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(-101%);
}

.home-title span::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after {
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after {
    animation-delay: 1.5s;
}

.home-title span:nth-of-type(3)::before,
.home-title span:nth-of-type(3)::after {
    animation-delay: 2s;
}

.home-title span:nth-of-type(4)::before,
.home-title span:nth-of-type(4)::after {
    animation-delay: 8s;
}

@keyframes a-ltr-after {
    0% {
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(101%)
    }
}

@keyframes a-ltr-before {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(200%)
    }
}


/* SIBLING FADE 5: fade out siblings around a hovered item */

.sibling-fade-5 {
    visibility: hidden;
}


/* Prevents :hover from triggering in the gaps between items */

.sibling-fade-5>* {
    visibility: visible;
}


/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade-5>* {
    transition: opacity 25ms linear 25ms, transform 25ms ease-in-out 25ms;
}


/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade-5:hover>* {
    opacity: 0.8;
    transform: scale(1);
}


/* Fade out all items when the parent is hovered */

.sibling-fade-5>*:hover {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0ms, 0ms;
    color: inherit !important;
}


/* Fade in the currently hovered item */

.sibling-fade-5 {
    display: flex;
    flex-wrap: wrap;
}

.sibling-fade-5>* {
    /* background: white; */
    /* flex: auto; */
    text-decoration: none;
}


/**/

.view-group-cta {
    font-size: 18px;
    font-weight: 700;
    color: #367cff;
}

.fa-bg {
    font-size: 15px !important;
}

.big-cta {
    border: 3px solid rgb(54, 124, 255, 0.25) !important;
    opacity: 1;
}

.big-cta:hover {
    border: 3px solid rgb(54, 124, 255, 0.75) !important;
    opacity: 1;
}

.white {
    color: #fff;
}

.white:hover {
    color: #fff !important;
    opacity: 1 !important;
}


/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3 {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    opacity: .16;
    mix-blend-mode: color;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.cursor {
    background-color: #fff;
    height: 0;
    width: 0;
    z-index: 99999;
}

.cursor2,
.cursor3 {
    height: 36px;
    width: 36px;
    z-index: 99998;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.cursor2.hover,
.cursor3.hover {
    -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
    transform: scale(2) translateX(-25%) translateY(-25%);
    border: none;
}

.cursor2 {
    border: 2px solid #367cff;
    /* box-shadow: 0 0 12px rgba(54, 124, 255, 0.2); */
}

.cursor2.hover {
    background: rgba(255, 255, 255, 1);
    /* box-shadow: 0 0 0 rgba(54, 124, 255, 0.2); */
}

.img {
    width: 100vw;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #367cff;
    border-color: #367cff;
}

h5 {
    font-size: 40px;
    font-weight: 600;
    color: #2c3881;
}

.row-bottom {
    padding-bottom: 24px !important;
}

body {
    opacity: 1;
    transition: 2s opacity;
}

body.fade-out {
    opacity: 0;
    transition: ease-in-out;
}

.modal-content {
    border: none;
    border-radius: 8px;
}

.modal {
    padding-right: 0px !important;
}

.modal-body {
    padding: 0px !important;
}

.card {
    width: auto;
    height: auto;
}

.color-blue {
    color: #2c3881 !important;
    font-size: 14px;
    line-height: 1.86;
}

#read-more-text {
    display: none;
}

#read-more-text-3 {
    display: none;
}

img.hover-top {
    transition: transform .4s ease;
}

img.hover-top:hover {
    /* transform: translate3d(-4px, -4px, 0) rotateZ(-1deg); */
    transform: translate3d(0px, -6px, 0);
}

img.hover-right {
    transition: transform .4s ease;
}

img.hover-right:hover {
    /* transform: translate3d(-4px, -4px, 0) rotateZ(-1deg); */
    transform: translate(6px);
}

.breadcrumb {
    background-color: #fff;
    padding: 0rem;
    margin-bottom: -1rem;
    margin-right: -32px;
    margin-top: 64px;
}

.breadcrumb-item.active {
    color: rgb(44, 70, 129, 0.5);
}

.cta-left {
    margin-left: -72px !important;
}

.table {
    margin-top: 8px;
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 16px;
}

th {
    height: 66px;
    background-color: #FBFBFD;
    color: #2c3881;
    font-size: 21px;
    font-weight: 700;
    border-bottom: none !important;
    /* border-radius: 16px; */
    border-top: none !important;
}

.table-hover tbody tr:hover {
    color: inherit;
    background-color: #FBFBFD;
}

tbody {
    color: #2c3881;
    cursor: default;
}

.table td,
.table th {
    border-top: 1px solid #EAF2FF;
}

.results tr[visible='false'],
.no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.counter {
    padding: 8px;
    color: rgb(44, 70, 129, 0.4);
}

.form-control {
    width: 57%;
    border: 1px solid rgb(44, 70, 129, 0.2) !important;
    display: inline;
    border-radius: 24px;
}

.warning {
    color: rgb(255, 99, 71);
}

tr:hover a {
    color: #367cff;
}

tr a:hover {
    /* background-color: rgb(56, 125, 254, 0.02); */
    text-decoration: underline;
}

.form-control:focus {
    color: #367cff !important;
    background-color: #fff;
    border-color: rgb(54, 124, 255);
    border: 2px solid rgba(54, 124, 255, 0.9) !important;
    box-shadow: none;
    background-color: rgba(54, 124, 255, 0.04) !important;
}

.form-control:hover {
    background-color: #fff !important;
}

::placeholder {
    color: rgb(44, 70, 129, 0.5) !important;
}

.fa-14 {
    font-size: 14px;
}

.table {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.big-cta:hover .move-right {
    transform: translate(12px);
}

.big-cta .move-right {
    transition: transform 0.6s ease;
}

::selection {
    background: rgb(54, 124, 255, 0.1);
    color: #367cff;
}

.border-rad-tab-1 {
    border-radius: 16px 0px 0px 0px;
}

.border-rad-tab-2 {
    border-radius: 0px 16px 0px 0px;
}

.tableFixHead {
    overflow-y: auto;
    height: 100px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
}

.btn-secondary {
    color: #367cff;
    background-color: rgb(54, 124, 255, 0.1);
    border: none;
    height: 40px;
    text-align: center;
    border-radius: 32px;
    padding: 0.55rem 1rem !important;
    transition: 0.4s !important;
    margin-bottom: 14px;
}

.btn-secondary:hover {
    color: #fff !important;
    background-color: rgb(54, 124, 255, 1);
    transform: none !important;
}

.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: none !important;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: rgb(54, 124, 255, 0.1);
}

.spacing {
    margin-top: 16px !important;
    margin-bottom: 4px !important;
}

.card-nohover {
    border: none !important;
    box-shadow: none !important;
    box-sizing: border-box;
    color: inherit !important;
}

.card-nohover:hover {
    margin: 0px !important;
}

.list-group-item {
    padding: 0.75rem 0;
    border: 1px solid rgb(44, 56, 129, 0.1);
}

.heading-accordion {
    margin-top: 12px;
    margin-bottom: 16px;
}


/* remove 000webhost branding


img[src*="https: //cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

img[src*="https://cloud.githubusercontent.com/assets/23024110/20663010/9968df22-b55e-11e6-941d-edbc894c2b78.png"] {
    display: none;
}

img[alt="000webhost logo"] {
    display: none;
}

img[alt*="000webhost"],
img[alt*="000webhost"][style],
img[src*="000webhost"],
img[src*="000webhost"][style],
body>div:nth-last-of-type(1)[style] {
    opacity: 0 !important;
    pointer-events: none !important;
    width: 0px !important;
    height: 0px !important;
    visibility: hidden !important;
    display: none !important;
}

*/